[submodule "learning-cxx"]
	path = learning-cxx
	url = https://github.com/cocoshe/learning-cxx.git
[submodule "TinyInfiniTensor"]
	path = TinyInfiniTensor
	url = https://github.com/cocoshe/TinyInfiniTensor
